In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

# Set visualization style
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)


warnings.filterwarnings('ignore')

plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [10]:
import matplotlib
print(matplotlib.__file__)

d:\Kuliah\Semester 7\Data Wrangling\Project\stresss\.venv\Lib\site-packages\matplotlib\__init__.py

# Kaggle : Mental Health in Tech Survey

In [11]:
df = pd.read_csv ('../dataset/kaggle_survey.csv')
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,No,Yes,No,No,No,No,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,Yes,Yes,Yes,Yes,No,No,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,Yes,Yes,No,Yes,No,No,Don't know,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,No,No,Yes,Yes,No,No,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [12]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [15]:
df.dtypes

Timestamp                    object
Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
comments                     object
dtype: object

In [16]:
for i, (col, dtype) in enumerate(zip(df.columns, df.dtypes), 1):
    unique_count = df[col].nunique()
    print(f"{i:2d}. {col:30s} {str(dtype):10s} | Unique values: {unique_count:3d}")

 1. Timestamp                      object     | Unique values: 1246
 2. Age                            int64      | Unique values:  53
 3. Gender                         object     | Unique values:  49
 4. Country                        object     | Unique values:  48
 5. state                          object     | Unique values:  45
 6. self_employed                  object     | Unique values:   2
 7. family_history                 object     | Unique values:   2
 8. treatment                      object     | Unique values:   2
 9. work_interfere                 object     | Unique values:   4
10. no_employees                   object     | Unique values:   6
11. remote_work                    object     | Unique values:   2
12. tech_company                   object     | Unique values:   2
13. benefits                       object     | Unique values:   3
14. care_options                   object     | Unique values:   3
15. wellness_program               object     | Unique values:   3
16. seek_help                      object     | Unique values:   3
17. anonymity                      object     | Unique values:   3
18. leave                          object     | Unique values:   5
19. mental_health_consequence      object     | Unique values:   3
20. phys_health_consequence        object     | Unique values:   3
21. coworkers                      object     | Unique values:   3
22. supervisor                     object     | Unique values:   3
23. mental_health_interview        object     | Unique values:   3
24. phys_health_interview          object     | Unique values:   3
25. mental_vs_physical             object     | Unique values:   3
26. obs_consequence                object     | Unique values:   2
27. comments                       object     | Unique values: 160

In [17]:
def create_data_summary(df):
    """Create comprehensive data summary"""
    summary_data = []
    for col in df.columns:
        dtype = df[col].dtype
        non_null = df[col].notnull().sum()
        null_count = df[col].isnull().sum()
        null_pct = (null_count / len(df)) * 100
        unique_count = df[col].nunique()
        
        # Get sample values (first 3 non-null unique values)
        if dtype == 'object':
            sample_vals = df[col].dropna().unique()[:3]
            sample_str = ', '.join([str(x) for x in sample_vals]) if len(sample_vals) > 0 else 'N/A'
        else:
            sample_str = f"Min: {df[col].min():.2f}, Max: {df[col].max():.2f}"
        
        summary_data.append({
            'Column': col,
            'Data_Type': dtype,
            'Non_Null': non_null,
            'Null_Count': null_count,
            'Null_Percentage': f"{null_pct:.1f}%",
            'Unique_Values': unique_count,
            'Sample_Values': sample_str[:50] + '...' if len(sample_str) > 50 else sample_str
        })
    
    return pd.DataFrame(summary_data)

summary_df = create_data_summary(df)
print("\nðŸ“ˆ COMPREHENSIVE DATA SUMMARY:")
print(summary_df.to_string())

ðŸ“ˆ COMPREHENSIVE DATA SUMMARY:
                       Column Data_Type  Non_Null  Null_Count Null_Percentage  Unique_Values                                          Sample_Values
0                   Timestamp    object      1259           0            0.0%           1246  2014-08-27 11:29:31, 2014-08-27 11:29:37, 2014-08-...
1                         Age     int64      1259           0            0.0%             53                     Min: -1726.00, Max: 99999999999.00
2                      Gender    object      1259           0            0.0%             49                                        Female, M, Male
3                     Country    object      1259           0            0.0%             48                  United States, Canada, United Kingdom
4                       state    object       744         515           40.9%             45                                             IL, IN, TX
5               self_employed    object      1241          18            1.4%              2                                                Yes, No
6              family_history    object      1259           0            0.0%              2                                                No, Yes
7                   treatment    object      1259           0            0.0%              2                                                Yes, No
8              work_interfere    object       995         264           21.0%              4                                   Often, Rarely, Never
9                no_employees    object      1259           0            0.0%              6                           6-25, More than 1000, 26-100
10                remote_work    object      1259           0            0.0%              2                                                No, Yes
11               tech_company    object      1259           0            0.0%              2                                                Yes, No
12                   benefits    object      1259           0            0.0%              3                                    Yes, Don't know, No
13               care_options    object      1259           0            0.0%              3                                      Not sure, No, Yes
14           wellness_program    object      1259           0            0.0%              3                                    No, Don't know, Yes
15                  seek_help    object      1259           0            0.0%              3                                    Yes, Don't know, No
16                  anonymity    object      1259           0            0.0%              3                                    Yes, Don't know, No
17                      leave    object      1259           0            0.0%              5          Somewhat easy, Don't know, Somewhat difficult
18  mental_health_consequence    object      1259           0            0.0%              3                                         No, Maybe, Yes
19    phys_health_consequence    object      1259           0            0.0%              3                                         No, Yes, Maybe
20                  coworkers    object      1259           0            0.0%              3                                  Some of them, No, Yes
21                 supervisor    object      1259           0            0.0%              3                                  Yes, No, Some of them
22    mental_health_interview    object      1259           0            0.0%              3                                         No, Yes, Maybe
23      phys_health_interview    object      1259           0            0.0%              3                                         Maybe, No, Yes
24         mental_vs_physical    object      1259           0            0.0%              3                                    Yes, Don't know, No
25            obs_consequence    object      1259           0            0.0%              2                                                No, Yes
26                   comments    object       164        1095           87.0%            160  I'm not on my company's health insurance which cou...